# Task solution

In [ ]:
https://drive.google.com/file/d/1FRnbQqgK6S-mr9StNF5MurSaXhah9uoJ/view?usp=sharing


https://drive.google.com/file/d/11rPJXr-9VoeV2Pi0RSfVehw1tbQOAjLI/view?usp=sharing

https://docs.google.com/spreadsheets/d/1z4EWsGxw0YBQ1-51xZDxYNlB3ngJzg4t/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true


https://docs.google.com/spreadsheets/d/1z2n8aeFF5GoohQ3KCZw8bKogezpO9l4k/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2 .Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents 
11 . list of all agents name 
12 . percentage of chat on which they have received a feedback 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month 

sunny.savita@ineuron.ai ,sudhanshu@ineuron.ai

deadline of complition of this task is 12 AM IST today 

After that if you will submit your task i wont evaluate it at all , excuses will be given to new 
joiners

In [3]:
import pandas as pd
import numpy as np

In [2]:
al=pd.read_csv(r"C:\Users\LENOVO\ineuron\given notes\pandas\AgentLogingReport.csv")

In [23]:
al

     SL No               Agent       Date Login Time Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39   02:04:10
1        2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16   00:00:17
2        3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35   00:45:06
4        5              Mukesh  30-Jul-22   14:03:15    15:11:52   01:08:36
..     ...                 ...        ...        ...         ...        ...
995    996        Manjunatha A  20-Jul-22   09:03:51    15:02:28   05:58:37
996    997             Bharath  20-Jul-22   09:00:49    15:01:32   06:00:43
997    998      Khushboo Priya  20-Jul-22   08:59:20    14:26:55   05:27:34
998    999        Nishtha Jain  20-Jul-22   08:43:55    14:00:33   05:16:38
999   1000               Tarun  01-Jul-22   01:52:47    12:01:07  514:08:20

[1000 rows x 6 columns]

In [45]:
ap=pd.read_csv(r"C:\Users\LENOVO\ineuron\given notes\pandas\AgentPerformance.csv",parse_dates=["Date","Average Response Time","Average Resolution Time"])

# 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [47]:
ap["week"]=ap["Date"].dt.week

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_32440\1309619977.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  ap["week"]=ap["Date"].dt.week

In [48]:
ap

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,week
0,1,2022-07-30,Prerna Singh,11,2022-08-18 00:00:38,2022-08-18 00:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,2022-08-18 00:01:15,2022-08-18 00:28:25,3.14,7,30
2,3,2022-07-30,Ameya Jain,14,2022-08-18 00:00:30,2022-08-18 00:11:36,4.55,11,30
3,4,2022-07-30,Mahesh Sarade,14,2022-08-18 00:01:04,2022-08-18 00:15:46,4.71,7,30
4,5,2022-07-30,Swati,14,2022-08-18 00:01:11,2022-08-18 00:16:33,3.67,6,30
...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,2022-08-18 00:00:00,2022-08-18 00:00:00,0.00,0,26
2156,2157,2022-07-01,Nitin M,0,2022-08-18 00:00:00,2022-08-18 00:00:00,0.00,0,26
2157,2158,2022-07-01,Vivek,0,2022-08-18 00:00:00,2022-08-18 00:00:00,0.00,0,26
2158,2159,2022-07-01,Ayushi Mishra,0,2022-08-18 00:00:00,2022-08-18 00:00:00,0.00,0,26
2159,2160,2022-07-01,Chaitra K Hiremath,0,2022-08-18 00:00:00,2022-08-18 00:00:00,0.00,0,26

In [41]:
avgrating=ap.groupby(["Agent Name","week"])["Average Rating"].mean()

In [42]:
avgrating

Agent Name  week
Abhishek    26      0.000000
            27      0.000000
            28      0.000000
            29      0.000000
            30      0.000000
                      ...
Zeeshan     26      0.000000
            27      1.307143
            28      2.948571
            29      3.180000
            30      2.760000
Name: Average Rating, Length: 350, dtype: float64

# 2 .Total working days for each agent

In [43]:
totalday=al.groupby(["Agent"])["Date"].count()

In [44]:
totalday

Agent
Aditya Shinde               1
Aditya_iot                  9
Amersh                      4
Ameya Jain                 10
Ankitjha                    4
Anurag Tiwari              37
Aravind                    10
Ayushi Mishra              18
Bharath                     9
Boktiar Ahmed Bappy        17
Chaitra K Hiremath         13
Deepranjan Gupta           58
Dibyanshu                 208
Harikrishnan Shaji         23
Hrisikesh Neogi            37
Hyder Abbas                 2
Ineuron Intelligence        1
Ishawant Kumar             49
Jawala Prakash             16
Jaydeep Dixit              11
Khushboo Priya             18
Madhulika G                17
Mahesh Sarade              36
Maitry                      5
Manjunatha A                8
Mithun S                   14
Mukesh                      3
Muskan Garg                12
Nandani Gupta              11
Nishtha Jain               18
Nitin M                     1
Prabir Kumar Satapathy     26
Prateek _iot               17
Prerna Singh               18
Rishav Dash                12
Saikumarreddy N            10
Sanjeev Kumar              20
Saurabh Shukla             40
Shiva Srivastava           15
Shivan K                   36
Shivananda Sonwane         15
Shubham Sharma             35
Sowmiya Sivakumar          24
Sudhanshu Kumar            11
Suraj S Bilgi               5
Swati                       5
Tarun                       1
Wasim                      20
Zeeshan                    10
Name: Date, dtype: int64

In [18]:
al["Agent"].unique()

49

# 3. Total query that you have taken

In [53]:
ap.groupby(["Agent Name"])["Total Chats"].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

# 4. total Feedback that you have received

In [54]:
ap.groupby(["Agent Name"])["Total Feedback"].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

# 5. a agent name who have average rating between 3.5 to 4

In [55]:
ap.head(2)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,week
0,1,2022-07-30,Prerna Singh,11,2022-08-18 00:00:38,2022-08-18 00:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,2022-08-18 00:01:15,2022-08-18 00:28:25,3.14,7,30

In [60]:
ap[(ap["Average Rating"]>=3.5)& (ap["Average Rating"]<=4)][["Agent Name","Average Rating"]]

               Agent Name  Average Rating
4                  Swati             3.67
10           Manjunatha A            3.60
73    Boktiar Ahmed Bappy            4.00
76          Prateek _iot             3.75
78          Nandani Gupta            3.79
...                   ...             ...
1941       Jawala Prakash            3.80
2018        Sanjeev Kumar            4.00
2021        Aditya Shinde            3.54
2023     Deepranjan Gupta            3.71
2097        Sanjeev Kumar            4.00

[114 rows x 2 columns]

# 6 . Agent name who have rating lesss then 3.5

In [62]:
ap[(ap["Average Rating"]<3.5)][["Agent Name","Average Rating"]]

              Agent Name  Average Rating
1          Nandani Gupta            3.14
19      Hitesh Choudhary            0.00
20            Sanjeevan             0.00
21              Anirudh             0.00
22      Shiva Srivastava            0.00
...                  ...             ...
2155   Sowmiya Sivakumar            0.00
2156             Nitin M            0.00
2157              Vivek             0.00
2158       Ayushi Mishra            0.00
2159  Chaitra K Hiremath            0.00

[1474 rows x 2 columns]

# 7 . agent name who have rating more then 4.5

In [63]:
ap[(ap["Average Rating"]>4.5)][["Agent Name","Average Rating"]]

              Agent Name  Average Rating
2             Ameya Jain            4.55
3          Mahesh Sarade            4.71
5                Mukesh             4.62
6        Saikumarreddy N            5.00
7          Sanjeev Kumar            5.00
...                  ...             ...
2100      Shubham Sharma            5.00
2101       Jaydeep Dixit            4.77
2102  Shivananda Sonwane            4.86
2103      Khushboo Priya            4.61
2104     Hrisikesh Neogi            4.56

[307 rows x 2 columns]

# 8 . how many feedaback agents have received more then 4.5 average

In [69]:
a=ap[(ap["Average Rating"]>4.5)]

In [72]:
a.groupby(["Agent Name"])["Total Feedback"].sum()

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

# 9 . average weekly response time for each agent

In [75]:
ap["trt"]=(ap["Average Response Time"].dt.hour)*3600+(ap["Average Response Time"].dt.minute)*60+(ap["Average Response Time"].dt.second)

In [79]:
ap.groupby(["Agent Name","week"])["trt"].mean()

Agent Name  week
Abhishek    26        0.000000
            27        0.000000
            28        0.000000
            29        0.000000
            30        0.000000
                       ...
Zeeshan     26        0.000000
            27       23.571429
            28      123.428571
            29       62.857143
            30       63.833333
Name: trt, Length: 350, dtype: float64

# 10 . average weekely resolution time for each agents

In [80]:
ap["tart"]=(ap["Average Resolution Time"].dt.hour)*3600+(ap["Average Resolution Time"].dt.minute)*60+(ap["Average Resolution Time"].dt.second)

In [82]:
ap.groupby(["Agent Name","week"])["tart"].mean()

Agent Name  week
Abhishek    26        0.000000
            27        0.000000
            28        0.000000
            29        0.000000
            30        0.000000
                       ...
Zeeshan     26        0.000000
            27      323.000000
            28      984.285714
            29      794.285714
            30      773.500000
Name: tart, Length: 350, dtype: float64

# 11 . list of all agents name

In [83]:
ap["Agent Name"].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

# 12 . percentage of chat on which they have received a feedback

In [84]:
ap["poc"]=(ap["Total Feedback"]/ap["Total Chats"])*100

In [86]:
ap.groupby(["Agent Name"])["poc"].mean()

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    58.067722
Aditya_iot       60.188561
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            47.666667
Wasim            66.449262
Zeeshan          65.002151
Name: poc, Length: 70, dtype: float64

# 13 . Total contributation hour for each and every agents weekly basis

In [32]:
al=pd.read_csv(r"C:\Users\LENOVO\ineuron\given notes\pandas\AgentLogingReport.csv",parse_dates=["Date","Login Time","Logout Time"])

In [33]:
al.dtypes

SL No                   int64
Agent                  object
Date           datetime64[ns]
Login Time     datetime64[ns]
Logout Time    datetime64[ns]
Duration               object
dtype: object

In [34]:
al.tail(10)

,SL No,Agent,Date,Login Time,Logout Time,Duration
990,991,Wasim,2022-07-20,2022-08-19 09:17:25,2022-08-19 15:23:56,06:06:30
991,992,Madhulika G,2022-07-20,2022-08-19 09:10:13,2022-08-19 15:07:44,05:57:31
992,993,Harikrishnan Shaji,2022-07-20,2022-08-19 09:05:41,2022-08-19 13:00:00,03:54:18
993,994,Sowmiya Sivakumar,2022-07-20,2022-08-19 09:04:06,2022-08-19 16:01:53,06:57:47
994,995,Aravind,2022-07-20,2022-08-19 09:03:51,2022-08-19 15:15:46,06:11:55
995,996,Manjunatha A,2022-07-20,2022-08-19 09:03:51,2022-08-19 15:02:28,05:58:37
996,997,Bharath,2022-07-20,2022-08-19 09:00:49,2022-08-19 15:01:32,06:00:43
997,998,Khushboo Priya,2022-07-20,2022-08-19 08:59:20,2022-08-19 14:26:55,05:27:34
998,999,Nishtha Jain,2022-07-20,2022-08-19 08:43:55,2022-08-19 14:00:33,05:16:38
999,1000,Tarun,2022-07-01,2022-08-19 01:52:47,2022-08-19 12:01:07,514:08:20

In [35]:
al["week"]=al["Date"].dt.week

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_31568\3689320939.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  al["week"]=al["Date"].dt.week

In [36]:
al["Duration"]=pd.to_timedelta(al["Duration"])

In [38]:
al.groupby('Agent')['Duration'].sum()

Agent
Aditya Shinde             0 days 00:02:10
Aditya_iot                0 days 15:43:52
Amersh                    0 days 03:03:50
Ameya Jain                1 days 18:04:32
Ankitjha                  0 days 02:16:01
Anurag Tiwari             0 days 02:46:44
Aravind                   1 days 00:17:57
Ayushi Mishra             1 days 14:07:18
Bharath                   2 days 00:04:36
Boktiar Ahmed Bappy       1 days 16:16:07
Chaitra K Hiremath        1 days 10:19:32
Deepranjan Gupta          4 days 10:16:31
Dibyanshu                 2 days 04:35:45
Harikrishnan Shaji        2 days 05:42:53
Hrisikesh Neogi           2 days 09:34:07
Hyder Abbas               0 days 00:23:17
Ineuron Intelligence      0 days 01:26:55
Ishawant Kumar            2 days 03:46:44
Jawala Prakash            1 days 22:24:08
Jaydeep Dixit             2 days 11:50:26
Khushboo Priya            1 days 19:33:31
Madhulika G               1 days 22:03:37
Mahesh Sarade             1 days 18:55:19
Maitry                    1 days 06:56:42
Manjunatha A              1 days 17:16:29
Mithun S                  1 days 21:10:25
Mukesh                    0 days 08:54:18
Muskan Garg               0 days 17:20:08
Nandani Gupta             1 days 16:10:20
Nishtha Jain              1 days 19:51:10
Nitin M                   0 days 00:47:56
Prabir Kumar Satapathy    1 days 09:22:38
Prateek _iot              0 days 18:25:05
Prerna Singh              1 days 21:42:56
Rishav Dash               1 days 17:46:32
Saikumarreddy N           1 days 19:08:15
Sanjeev Kumar             1 days 20:41:14
Saurabh Shukla            0 days 16:39:47
Shiva Srivastava          0 days 14:59:39
Shivan K                  1 days 12:06:08
Shivananda Sonwane        2 days 01:17:16
Shubham Sharma            2 days 05:47:54
Sowmiya Sivakumar         1 days 20:45:15
Sudhanshu Kumar           1 days 22:13:52
Suraj S Bilgi             0 days 12:33:33
Swati                     1 days 01:00:04
Tarun                    21 days 10:08:20
Wasim                     2 days 00:10:45
Zeeshan                   2 days 01:05:19
Name: Duration, dtype: timedelta64[ns]

# 14. total percentage of active hour for a month

In [42]:
datediff = max(al['Date'])-min(al['Date'])

In [43]:
al.groupby('Agent')['Duration'].sum()/datediff*100

Agent
Aditya Shinde              0.005188
Aditya_iot                 2.260217
Amersh                     0.440214
Ameya Jain                 6.045338
Ankitjha                   0.325710
Anurag Tiwari              0.399266
Aravind                    3.491260
Ayushi Mishra              5.477251
Bharath                    6.907567
Boktiar Ahmed Bappy        5.785720
Chaitra K Hiremath         4.931833
Deepranjan Gupta          15.269436
Dibyanshu                  7.556873
Harikrishnan Shaji         7.717633
Hrisikesh Neogi            8.271352
Hyder Abbas                0.055755
Ineuron Intelligence       0.208134
Ishawant Kumar             7.439496
Jawala Prakash             6.666986
Jaydeep Dixit              8.597781
Khushboo Priya             6.258421
Madhulika G                6.617856
Mahesh Sarade              6.166946
Maitry                     4.446121
Manjunatha A               5.930276
Mithun S                   6.490461
Mukesh                     1.279454
Muskan Garg                2.490741
Nandani Gupta              5.771871
Nishtha Jain               6.300686
Nitin M                    0.114783
Prabir Kumar Satapathy     4.795578
Prateek _iot               2.646272
Prerna Singh               6.568327
Rishav Dash                6.002235
Saikumarreddy N            6.197917
Sanjeev Kumar              6.420578
Saurabh Shukla             2.394117
Shiva Srivastava           2.154334
Shivan K                   5.187101
Shivananda Sonwane         7.081577
Shubham Sharma             7.729646
Sowmiya Sivakumar          6.430196
Sudhanshu Kumar            6.642401
Suraj S Bilgi              1.804478
Swati                      3.592114
Tarun                     73.870530
Wasim                      6.922294
Zeeshan                    7.052961
Name: Duration, dtype: float64

In [ ]:
https://drive.google.com/file/d/1FRnbQqgK6S-mr9StNF5MurSaXhah9uoJ/view?usp=sharing


https://drive.google.com/file/d/11rPJXr-9VoeV2Pi0RSfVehw1tbQOAjLI/view?usp=sharing

https://docs.google.com/spreadsheets/d/1z4EWsGxw0YBQ1-51xZDxYNlB3ngJzg4t/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true


https://docs.google.com/spreadsheets/d/1z2n8aeFF5GoohQ3KCZw8bKogezpO9l4k/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2 .Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents 
11 . list of all agents name 
12 . percentage of chat on which they have received a feedback 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month 

sunny.savita@ineuron.ai ,sudhanshu@ineuron.ai

deadline of complition of this task is 12 AM IST today 

After that if you will submit your task i wont evaluate it at all , excuses will be given to new 
joiners